* {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  text-align: center;
}
html {
  box-sizing: border-box;
  font-size: 10px;
}
h2 {
  font-size: 3.6rem;
  font-weight: medium;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
button {
  background-color: rgba(255, 255, 255, 1);
  font-family: "Raleway", Arial, sans-serif;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  height: 100vh;
}
main {
  position: relative;
  top: 80px;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  padding: 2.6rem 0;
  gap: 40px;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  position: fixed;
}
.header .container {
  display: flex;
  align-self: stretch;
  padding: 0 3rem;
  justify-content: space-between;
}
.header img {
  height: auto;
  width: 202px;
}

/* Header hamburguer menu icon */

.hamburguer-menu-icon {
  cursor: pointer;
  line-height: none;
}
.hamburguer-menu-icon > * {
  background-color: #141414;
  width: 27px;
  height: 1.62px;
}
.hamburguer-menu-icon > :first-child,
.hamburguer-menu-icon > :nth-child(2) {
  margin-bottom: 8px;
}
.hamburguer-menu-icon.clicked > * {
  margin: 0;
}
.hamburguer-menu-icon.clicked > :first-child {
  rotate: -45deg;
  position: absolute;
}
.hamburguer-menu-icon.clicked > :last-child {
  rotate: 45deg;
}
.hamburguer-menu-icon.clicked > :nth-child(2) {
  display: none;
}

/* Header nav */

.header nav {
  height: 0;
  width: 100vw;
  top: 80px;
  background-color: white;
  transition: height 1s ease-in-out, padding-top 1s ease-in-out,
    top 1s ease-in-out;
  position: fixed;
  overflow: hidden;
}
.header nav.clicked {
  transition: height 1s ease-in-out, padding-top 1s ease-in-out,
    top 1s ease-in-out;
  height: calc(100vh - 80px);
  padding-top: 19.3rem;
}
.header nav ul {
  display: flex;
  gap: 43px;
  flex-direction: column;
  font-size: 3.6rem;
}
.header nav a {
  color: #000c2d;
  font-weight: 500;
}
.header li:last-child a {
  color: #2f70fe;
}

/* hero-section */

.hero-section {
  color: #ffffff;
  text-align: center;
  background-color: #2f70fe;
  padding: 5.1rem 1.9rem;
  min-height: 575px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 6.5rem;
  margin-bottom: 1.7rem;
}
.hero-section p {
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 2.5rem;
}
.hero-section button {
  color: #ffffff;
  background-color: #000000;
  padding: 1.6rem 2.5rem;
}
.hero-section .img-container {
  display: none;
}

/* features-section */

.features-section {
  text-align: center;
  padding: 38px 0;
  background-color: #00ff8514;
}
.features-section p {
  font-size: 1.6rem;
}
.features-section h2 {
  margin-bottom: 50px;
}
.features-section img {
  margin-bottom: 24px;
}
.features-container .container {
  max-width: 253px;
}
.features-section .features-container {
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* services-section */
.services-section {
  text-align: center;
}
.services-section a {
  font-size: 1.6rem;
  color: #2f70fe;
}
.services-section h2 {
  font-size: 2.8rem;
  font-weight: bold;
}
.services-section p {
  font-size: 1.6rem;
}
.services-section .signup-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* service-section individual-service */

.individual-service {
  display: flex;
  flex-direction: column;
  padding: 4.5rem 1.9rem;
}
.individual-service:first-child .signup-link {
  display: none;
}
.individual-service .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 700px) and (max-width: 1250px) {
  .hero-section {
    justify-content: initial;
    padding-left: 0;
    padding-right: 0;
  }
  .hero-section img {
    max-width: 100%;
  }
  .hero-section .img-container {
    flex: 1;
  }
  .hero-section .container {
    flex: 2;
  }
}

@media (min-width: 700px) {
  /* header */

  .header {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 6.9rem;
    padding-right: 6.9rem;
  }
  .header .container {
    padding: 0;
    align-self: center;
  }

  /* header hamburguer icon */

  .hamburguer-menu-icon {
    display: none;
  }

  /* header nav */
  .header nav {
    height: initial;
    width: initial;
    position: initial;
    background-color: initial;
  }
  .header nav ul {
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
  }
  .header nav ul > :last-child {
    font-size: 1.6rem;
    padding: 1.2rem 2.3rem;
    border: 1px solid #2f70fe;
  }

  /* hero-section */

  .hero-section {
    padding-bottom: 0;
  }
  .hero-section .img-container {
    display: initial;
    align-self: flex-end;
  }

  /* features-section */

  .features-section {
    padding: 7.9rem 4rem 10.7rem 4rem;
  }
  .features-section .features-container {
    flex-direction: row;
    justify-content: center;
    gap: 56px;
  }
  /* services-section */

  .services-section {
    padding-top: 6.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .individual-service {
    justify-content: space-around;
  }
  .individual-service:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .individual-service:nth-child(even) {
    flex-direction: row;
  }
  .individual-service .container {
    text-align: initial;

    max-width: 410px;
  }
  .individual-service .container h2,
  .individual-service p {
    flex: auto;
  }
  .individual-service .signup-link {
    align-self: flex-start;
  }
}
@media (min-width: 700px) and (max-width: 850px) {
  .header {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .header nav ul > :last-child {
    border: 0;
    padding: 0;
  }
}
@media (min-width: 1050px) {
  .individual-service {
    justify-content: center;
    gap: 160px;
  }
  .individual-service,
  .features-section {
    padding-left: 0;
    padding-right: 0;
  }
}
