* {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  text-align: center;
}
html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
button {
  background-color: rgba(255, 255, 255, 1);
  font-family: "Raleway", Arial, sans-serif;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  padding: 26px 0;
  gap: 40px;
  align-items: center;
}
.header .container {
  display: flex;
  gap: 40px;
}
.header img {
  width: 202px;
}

/* Header hamburguer menu icon */

.hamburguer-menu-icon {
  cursor: pointer;
  line-height: none;
}
.hamburguer-menu-icon > * {
  background-color: #141414;
  width: 27px;
  height: 1.62px;
}
.hamburguer-menu-icon > :first-child,
.hamburguer-menu-icon > :nth-child(2) {
  margin-bottom: 8px;
}
.hamburguer-menu-icon.clicked > * {
  margin: 0;
}
.hamburguer-menu-icon.clicked > :first-child {
  rotate: -45deg;
  position: absolute;
}
.hamburguer-menu-icon.clicked > :last-child {
  rotate: 45deg;
}
.hamburguer-menu-icon.clicked > :nth-child(2) {
  display: none;
}

/* Header nav */

.header nav {
  height: 0;
  transition: height 1s ease-in-out, padding-top 1s ease-in-out;
  overflow: hidden;
}
.header nav.clicked {
  transition: height 1s ease-in-out, padding-top 1s ease-in-out;
  height: 100vh;
  padding-top: 193px;
}
.header nav ul {
  display: flex;
  gap: 43px;
  flex-direction: column;
}
.header nav a {
  color: #000c2d;
  font-size: 36px;
  font-weight: 500;
}
.header li:last-child a {
  color: #2f70fe;
}

@media (min-width: 600px) {
}
